<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My To Do List</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Today</a></li>
        <li><a href="/work">Work</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="wrapper">
        <h1>Work List</h1>

        <% if (locals.addTodoWork) { %> <% for (var i = 0; i < addTodoWork.length; i++) { %>
        <div class="list-container">
          <input type="checkbox" id="list-<%= i %>" />
          <label for="list-<%- i %>"><%= addTodoWork[i] %></label>
        </div>
        <% }}; %>

        <form action="/work" method="POST">
          <input type="text" placeholder="New To Do" name="new" />
          <input type="submit" value="+" />
        </form>
      </div>
    </div>
  </body>
</html>
